* {
    box-sizing: border-box;
    /* border: 1px solid red; */
    padding: 0;
    margin: 0;
}
body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 60%;
    max-width: 600px;
    margin: 10px auto;
    background: linear-gradient(to right, #ece6b9, #f05070);
    color:rgba(48, 9, 7, 0.8);
}

header {
    margin: 0px auto;
}

header h1 {
    font-size: 4.7em;
    color: rgb(252, 245, 245);
    text-shadow:
        0 0 7px rgb(252, 245, 245),
        0 0 10px rgb(255, 187, 182),
        0 0 21px rgb(255, 119, 109),
        0 0 42px rgb(255, 119, 109),
        0 0 82px rgb(255, 119, 109),
        0 0 92px rgb(255, 119, 109),
        0 0 102px rgb(255, 119, 109);
    letter-spacing: 1.5px;
}

.list-of-modes {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.list-of-modes li {
    list-style: none;
}

.pick-mode-btns {
    display: block;
    margin: 15px auto;
    font-size: 1.2em;
    padding: 0.7em;
    border-radius: 10px;
    background-color: rgba(202, 78, 69, 0.8);
    color: rgb(252, 245, 245);
    border: none;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    cursor: pointer;
}

.counter-wrapper {
    line-height: 1;
    font-size: 1.2em;
    padding-top: 8px;
}

.counter-wrapper h2 {
    font-size: 2.0em;
    margin-bottom: 0;
}

.plays-counter {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    padding-bottom: 8px;
    width: 70%;
}

.turn-message {
    padding: 8px 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 130px);
    grid-template-rows: repeat(3, 130px);
    width: 402px;
    height: 402px;
    margin: 20px auto;
    gap: 7px;
}

.box {
    font-size: 7em;
    width: 130px;
    height: 130px;
    display: grid; 
    align-items: center;
    justify-items: center;
    background-color: rgb(252, 245, 245);
    border-radius: 15px;
    color: rgba(202, 78, 69, 0.8);
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    cursor: pointer;
}

.game-complete-popup {
    visibility: hidden;
}

.results-message {
    font-size: 1.2em;
}

.play-again-button {
    display: block;
    margin: 15px auto;
    font-size: 1.2em;
    padding: 0.7em;
    border-radius: 10px;
    background-color: rgba(202, 78, 69, 0.8);
    color: rgb(252, 245, 245);
    border: none;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    cursor: pointer;
}

.hovering {
    background-color: rgba(202, 78, 69, 0.8);
    color: rgb(252, 245, 245)
}

.clicked {
    background-color: rgb(252, 245, 245);
    color: rgba(202, 78, 69, 0.8);
}

@media (max-width: 414px) {
    body {
        width: 80%;
        max-width: 400px;
        margin: 10px auto;
    }
    
    
    header h1 {
        font-size: 3em;
        letter-spacing: 1.5px;
    }
    
    .counter-wrapper {
        line-height: 1;
        font-size: 1em;
        padding-top: 5px;
    }
    
    .counter-wrapper h2 {
        font-size: 1.6em;
        margin-bottom: 0;
    }
    
    .plays-counter {
        padding-bottom: 5px;
        width: 80%;
    }
    
    .turn-message {
        padding: 5px 0;
    }
    
    .grid {
        grid-template-columns: repeat(3, 100px);
        grid-template-rows: repeat(3, 100px);
        width: 310px;
        height: 310px;
        margin: 20px auto;
        gap: 5px;
    }
    
    .box {
        font-size: 5em;
        width: 100px;
        height: 100px;
        display: grid; 
        border-radius: 15px;
        box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    }

    .results-message {
        font-size: 1em;
    }
    
    .play-again-button {
        margin: 15px auto;
        font-size: 1em;
        padding: 0.7em;
        border-radius: 10px;
        box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    }
}

@media (min-width: 415px) and (max-width: 703px) {
    body {
        width: 80%;
        max-width: 500px;
        margin: 10px auto;
    }

    header h1 {
        font-size: 4em;
        letter-spacing: 1px;
    }
    
    .counter-wrapper {
        line-height: 1;
        font-size: 1.1em;
        padding-top: 7px;
    }
    
    .counter-wrapper h2 {
        font-size: 1.9em;
        margin-bottom: 0;
    }
    
    .plays-counter {
        padding-bottom: 7px;
        width: 80%;
    }
    
    .turn-message {
        padding: 7px 0;
    }
    
    .grid {
        grid-template-columns: repeat(3, 120px);
        grid-template-rows: repeat(3, 120px);
        width: 370px;
        height: 370px;
        margin: 20px auto;
        gap: 5px;
    }
    
    .box {
        font-size: 7em;
        width: 120px;
        height: 120px;
        display: grid; 
        border-radius: 15px;
        box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    }

    .results-message {
        font-size: 1.1em;
    }
    
    .play-again-button {
        margin: 15px auto;
        font-size: 1.1em;
        padding: 0.7em;
        border-radius: 10px;
        box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    }
}

@media (min-width: 1471px) {
    body {
        width: 80%;
        max-width: 1000px;
        margin: 25px auto;
    }

    header h1 {
        font-size: 6em;
        letter-spacing: 2px;
    }
    
    .counter-wrapper {
        line-height: 1.2;
        font-size: 1.5em;
        padding-top: 10px;
    }
    
    .counter-wrapper h2 {
        font-size: 2.5em;
        margin-bottom: 0;
    }
    
    .plays-counter {
        padding-bottom: 10px;
        width: 60%;
    }
    
    .turn-message {
        padding: 10px 0;
    }
    
    .grid {
        grid-template-columns: repeat(3, 150px);
        grid-template-rows: repeat(3, 150px);
        width: 470px;
        height: 470px;
        margin: 20px auto;
        gap: 10px;
    }
    
    .box {
        font-size: 7em;
        width: 150px;
        height: 150px;
        display: grid; 
        border-radius: 15px;
        box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    }
    
    .results-message {
        font-size: 1.5em;
    }

    .play-again-button {
        margin: 15px auto;
        font-size: 1.5em;
        padding: 1em;
        border-radius: 10px;
        box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    }
}

.pulsate-fwd {
	animation: pulsate-fwd 0.5s ease-in-out infinite both;
}
/* ----------------------------------------------
 * Generated by Animista on 2023-2-24 22:39:52
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation pulsate-fwd
 * ----------------------------------------
 */
 @keyframes pulsate-fwd {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  


  .flip-horizontal-top {
	animation: flip-horizontal-top 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2023-2-24 22:28:57
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-horizontal-top
 * ----------------------------------------
 */
 @keyframes flip-horizontal-top {
    0% {
      transform: rotateX(0);
    }
    100% {
      transform: rotateX(180deg);
    }
  }

  .text-focus-in {
	animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-2-24 22:35:27
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
 @keyframes text-focus-in {
    0% {
      filter: blur(12px);
      opacity: 0;
    }
    100% {
      filter: blur(0px);
      opacity: 1;
    }
  }
  
  .jello-horizontal {
	-webkit-animation: jello-horizontal 0.9s both;
	        animation: jello-horizontal 0.9s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-2-26 14:7:7
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation jello-horizontal
 * ----------------------------------------
 */
 @-webkit-keyframes jello-horizontal {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }
  @keyframes jello-horizontal {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }
  