* {
    box-sizing: border-box;
    /* border: 1px solid red; */
}
body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    margin: 20px auto;
}
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 1px solid black;
    width: 450px;
    height: 450px;
    margin: 20px auto;
}

.box {
    font-size: 7em;
    border: 1px solid black;
    width: 150px;
    height: 150px;
    display: grid;
    align-items: center;
    justify-items: center;
}

.game-complete-popup {
    visibility: hidden;
}

.game-complete-popup p {
    display: inline;
    word-wrap: break-word;
}

.play-again-button {
    display: block;
    margin: 20px auto;
}
