* {
    box-sizing: border-box;
    /* border: 1px solid red; */
    padding: 0;
    margin: 0;
}
body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 60%;
    max-width: 600px;
    margin: 10px auto;
    background: linear-gradient(to right, #ece6b9, #f05070);
    color:rgba(48, 9, 7, 0.8);
}

header {
    margin: 0px auto;
}

header h1 {
    font-size: 4.7em;
    color: rgb(252, 245, 245);
    text-shadow:
        0 0 7px rgb(252, 245, 245),
        0 0 10px rgb(255, 187, 182),
        0 0 21px rgb(255, 119, 109),
        0 0 42px rgb(255, 119, 109),
        0 0 82px rgb(255, 119, 109),
        0 0 92px rgb(255, 119, 109),
        0 0 102px rgb(255, 119, 109);
    letter-spacing: 1.5px;
}

.counter-wrapper {
    line-height: 1;
    font-size: 1.2em;
    padding-top: 8px;
}

.counter-wrapper h2 {
    font-size: 2.0em;
    margin-bottom: 0;
}

.plays-counter {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    padding-bottom: 8px;
    width: 70%;
}

/* .player1-win-count .player2-win-count .ties-count {
    font-weight: 900;
} */

.turn-message {
    padding: 8px 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 130px);
    grid-template-rows: repeat(3, 130px);
    width: 402px;
    height: 402px;
    margin: 20px auto;
    gap: 7px;
}

.box {
    font-size: 7em;
    width: 130px;
    height: 130px;
    display: grid; 
    align-items: center;
    justify-items: center;
    background-color: rgb(252, 245, 245);
    border-radius: 15px;
    color: rgba(202, 78, 69, 0.8);
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    cursor: pointer;
}

.game-complete-popup {
    visibility: hidden;
}

.play-again-button {
    display: block;
    margin: 15px auto;
    font-size: 1.2em;
    padding: 0.7em;
    border-radius: 10px;
    background-color: rgba(202, 78, 69, 0.8);
    color: rgb(252, 245, 245);
    border: none;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    cursor: pointer;
}

@media (max-width: 414px) {
    body {
        width: 80%;
        max-width: 400px;
        margin: 10px auto;
    }
    
    
    header h1 {
        font-size: 3em;
        letter-spacing: 1.5px;
    }
    
    .counter-wrapper {
        line-height: 1;
        font-size: 1em;
        padding-top: 5px;
    }
    
    .counter-wrapper h2 {
        font-size: 1.6em;
        margin-bottom: 0;
    }
    
    .plays-counter {
        padding-bottom: 5px;
    }
    
    .turn-message {
        padding: 5px 0;
    }
    
    .grid {
        grid-template-columns: repeat(3, 100px);
        grid-template-rows: repeat(3, 100px);
        width: 310px;
        height: 310px;
        margin: 20px auto;
        gap: 5px;
    }
    
    .box {
        font-size: 5em;
        width: 100px;
        height: 100px;
        display: grid; 
        border-radius: 15px;
        box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    }
    
    .play-again-button {
        margin: 15px auto;
        font-size: 1em;
        padding: 0.7em;
        border-radius: 10px;
        box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    }
}

@media (min-width: 414px) and (max-width: 703px) {
    body {
        width: 80%;
        max-width: 500px;
        margin: 10px auto;
    }

    header h1 {
        font-size: 4em;
        letter-spacing: 1px;
    }
    
    .counter-wrapper {
        line-height: 1;
        font-size: 1.1em;
        padding-top: 7px;
    }
    
    .counter-wrapper h2 {
        font-size: 1.9em;
        margin-bottom: 0;
    }
    
    .plays-counter {
        padding-bottom: 7px;
    }
    
    .turn-message {
        padding: 7px 0;
    }
    
    .grid {
        grid-template-columns: repeat(3, 120px);
        grid-template-rows: repeat(3, 120px);
        width: 370px;
        height: 370px;
        margin: 20px auto;
        gap: 5px;
    }
    
    .box {
        font-size: 7em;
        width: 120px;
        height: 120px;
        display: grid; 
        border-radius: 15px;
        box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    }
    
    .play-again-button {
        margin: 15px auto;
        font-size: 1.1em;
        padding: 0.7em;
        border-radius: 10px;
        box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    }
}